.page {
	height: auto;
	width: 100%;
}

/*content*/
.content {
	height: auto;
	width: 100%;
	margin-bottom: 170px;
}
.position {
	height: auto;
	width: 100%;
	margin-top: 35px;
}
.position h3 {
	color: #666666;
	font-size: 30px;
	line-height: 50px;
	font-weight: normal;
}
.position p {
	color: #666666;
	font-size: 19px;
}
.unique_q {
	line-height: 83px;
}
.normal_p {
	margin-top: 26px;
	line-height: 39px;
}
.address_p {
	margin-top: 140px;
}