.page {
	height: auto;
	width: 100%;
}

/*content*/
.content {
	height: auto;
	width: 100%;
	padding-bottom: 110px;
}
.new_wrap {
	height: 64px;
	width: 100%;
	border-radius: 8px;
	margin-top: 25px;
	margin-bottom: 50px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #e8e8e8;
}
#new_tab li {
	height: 100%;
	width: 50%;
	float: left;
	color: #3d3d3d;
	font-size: 22px;
	text-align: center;
	line-height: 64px;
	transition: .5s;
}
#new_tab li:hover {
	color: #fff;
	background-color: #f20706;
}
.tab_active {
	color: #fff !important;
	background-color: #f20706;
}

/*new_desc*/
.new_desc {
	height: auto;
	width: 100%;
}
#new_desc_wrap li {
	height: auto;
	width: 100%;
}
.new_detail {
	height: auto;
	width: 100%;
}
.single_new {
	height: 450px;
	width: 100%;
	padding: 0 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid #979797;
}
.single_new img {
	height: 403px;
	width: 533px;
}
.single_new_desc {
	height: auto;
	width: 543px;
}
.single_new_desc h3 {
	color: #222222;
	font-size: 42px;
	line-height: 66px;
	font-weight: normal;
}
.single_new_desc p {
	color: #222222;
	font-size: 20px;
	line-height: 30px;
	margin-top: 27px;
}
.chose {
	height: 40px;
	width: auto;
	margin: 0 auto;
	display: table;
	margin-top: 27px;
}
.chose a {
	color: #222222;
    padding: 0 15px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 12px;
    border: 1px solid #979797;
    transition: .5s;
}
.chose a:hover {
	color: #fff !important;
	background-color: #fe3100;
}
.home_new {
	margin-left: 0 !important;
}
.page_active {
	color: #fff !important;
	background-color: #fe3100;
}