.page {
	height: auto;
	width: 100%;
}

/*content*/
.content {
	height: auto;
	width: 100%;
}
.new_tags {
	height: auto;
	width: 100%;
	zoom: 1;
	overflow: hidden;
}
.tag {
	height: 64px;
	width: auto;
	float: left;
	margin-right: 10px;
	margin-bottom: 14px;
	background-color: #e8e8e8;
	border-radius: 5px;
}
.tag a {
	color: #161616;
	line-height: 64px;
	display: block;
	padding: 0 15px;
	border-radius: 5px;
	transition: .5s;
}
.tag a:hover {
	color: #fff;
	background-color: #f20706;
}
.tag_active {
	color: #fff !important;
	background-color: #f20706;
}
.tag_desc {
	height: auto;
	width: 100%;
	padding-bottom: 20px;
}
.tag_desc h2 {
	color: #222222;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	line-height: 160px;
}
.tag_infor {
	color: #222222;
	font-size: 19px;
	line-height: 25px;
	text-align: center;
	display: block;
}
.tag_desc p {
	color: #222222;
	font-size: 19px;
	line-height: 39px;
	margin-bottom: 36px;
}
.code {
	height: auto;
	width: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.code a {
	color: #222222;
	font-size: 25px;
	line-height: 60px;
	display: table;
}